.App {
}

.navbar {
    display: flex;
    list-style-type: none;
    padding: 1em 0;
    border-bottom: 1px solid lightgrey;
}

.navbar li {
    margin-right: 1em;

}

.navbar li:last-child {
    margin-right: 0;
}

.logo {
    font-size: 2em;
}

